# Trabalho de Estatística Aplicada

## OBJETIVOS
- Desenvolver habilidades práticas em análise de dados.
- Reforçar conceitos de estatística descritiva.
- Aplicar técnicas estatísticas em dados empresariais para extração de insights e suporte à tomada de
decisão.

## O TEMA
Análise de Eficiência Operacional e Gestão de Ativos:
- Objetivo: Investigar a relação entre a eficiência operacional das empresas e a gestão de seus ativos
e dívidas. Este tema focará em entender como a gestão de custos, ativos e dívidas influencia a
lucratividade e a saúde financeira da empresa. Identificar padrões ou tendências entre diferentes
segmentos de mercado e localizações geográficas.
- Variáveis-Chave: Cost (Custo), Profit (Lucro Líquido), Debt (Dívida), Assets (Ativos), e Revenue
(Receita).
- Perguntas:
- Como a relação entre ativos e dívidas afeta a lucratividade das empresas?
- Existe uma correlação entre a eficiência na gestão de custos e o desempenho financeiro
global?
- Como a gestão de ativos varia entre diferentes segmentos de mercado e localizações
geográficas?

## DESCRIÇÃO DAS VARIÁVEIS
- ID: Identificador único para cada observação.
- Revenue: Receita da empresa (em milhares de dólares).
- Cost: Custo dos bens vendidos (em milhares de dólares).
- Profit: Lucro líquido (em milhares de dólares).
- Employees: Número de empregados.
- Market: Segmento de mercado da empresa (ex: Tecnologia, Saúde, Varejo, etc).
- Location: Localização da empresa (ex: América do Norte, América do Sul, Europa, Ásia, África,
Oceania).
- Year: Ano da observação.
- Debt: Dívida total da empresa (em milhares de dólares).
- Assets: Ativos totais da empresa (em milhares de dólares).

In [2]:
#Importando bibliotecas.
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
#Carregando dados.
data = pd.read_excel("dados_estatística.xlsx")

data.head()

,Id,Revenue,Cost,Profit,Employees,Market,Location,Debt,Assets
0,1,61581.676536,36466.973751,25114.702784,177,Varejo,América do Norte,20440.331840,50434.480214
1,2,71548.970394,44790.258223,-26758.712171,237,Indústria,África,35068.757162,64177.161780
2,3,47559.860308,34399.473133,-13160.387175,67,Finanças,Ásia,37408.966336,78043.595162
3,4,67172.296697,24071.852764,43100.443933,464,Tecnologia,Europa,39194.311911,67012.259758
4,5,46629.541682,33555.078760,13074.462922,142,Finanças,África,27787.243831,62414.601821

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         650 non-null    int64
 1   Revenue    650 non-null    float64
 2   Cost       650 non-null    float64
 3   Profit     650 non-null    float64
 4   Employees  650 non-null    int64
 5   Market     650 non-null    object
 6   Location   650 non-null    object
 7   Debt       650 non-null    float64
 8   Assets     650 non-null    float64
dtypes: float64(5), int64(2), object(2)
memory usage: 45.8+ KB